@model Message
@{
    ViewData["Title"] = "Messages";
}
<h2>Message board</h2>
<br>
@if (@Model != null)
{
    <p>
        <span>Message</span><br>
        To: @Model.Receiver
        <br>
        From: @Model.Sender
        <br>
        Subject: @Model.Title
        <br>
        Message: @Model.Body
        <br>
        Date: @Model.Date
        <br>
    </p>
}
<br>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Message">Compose Message</a>